.app-layout {
	display: flex;

	height: 100vh;
	width: 100%;

	color: $white;
	background-color: $cod-gray;

	&__sidebar {
		overflow-y: auto;
		flex-shrink: 0;

		width: rem(280px);
		height: 100vh;
	}

	&__content {
		position: relative;

		overflow-y: auto;
		flex-grow: 1;

		padding: 0 0 rem(70px);

		&-panel {
			position: sticky;
			top: 0;
			left: 0;
		}

		&-container {
			margin-top: rem(20px);
		}
	}
}
